.featured-work{
    background:#111;
    padding:50px 0;
    overflow:hidden;
}

.featured-work .container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 48px;
}

.featured-header{
    margin-bottom:56px;
}

.featured-header h2{
    font-size: 32px;
    font-weight: 300;
    line-height: 1;
    margin-bottom:48px;
}

.featured-controls{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.filters{
    display:flex;
    gap:16px;
    flex-wrap:wrap;
}

.filters button{
    height:48px;
    padding:0 24px;
    border-radius:999px;
    border:2px solid #252525;
    background:transparent;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
    font-weight: 200px;
}

.filters button:hover{
    background:#fff;
    color:#111;
    font-weight:500;
}

.filters button.active{
    background:#fff;
    color:#111;
    font-weight:500;
}

.slider-controls{
    display:flex;
    align-items:center;
    gap:20px;
    flex-shrink:0;
}

.slider-btn{
    width:51px;
    height:51px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    border:1px solid var(--white);
    background:transparent;
    color:#fff;
    font-size:20px;
    line-height:1;
    cursor:pointer;
    transition:all .35s ease;
}

.slider-btn:hover{
    background:#fff;
    color:#111;
    border-color:#fff;
}

.slider-btn:disabled{
    opacity:.35;
    pointer-events:none;
}

.featured-slider{
    overflow:hidden;
    padding-left:6vw;
    position: relative;
}

.featured-track{
    display:flex;
    gap:14px;
}

.work-card{
    width:253px;
    height:580px;
    flex-shrink:0;
    border-radius:20px;
    overflow:hidden;
    transition:
        width .75s cubic-bezier(.22,1,.36,1),
        transform .75s cubic-bezier(.22,1,.36,1);
}

.work-card.active{
    width:580px;
    height: 580px;
}

.work-card img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
    transition:transform .6s ease;
}

.work-card:hover img{
    transform:scale(1.05);
    cursor: pointer;
}

