---
import heroImage from "../assets/images/hero-room.png";
import discoverArrow from "../assets/icons/discover-arrow.svg";
---

<section class="hero">
  <div class="hero-top">
    <div class="container">
      <div class="hero-heading">
        <h1 class="hero-title">
          <span class="hero-word">A</span>
          <span class="hero-word">Creative</span>
          <span class="hero-word">Studio</span>
          <span class="hero-word">For</span>

          <br>

          <span class="hero-word">Limitless</span>
          <span class="hero-word green">Design</span>
        </h1>
      </div>
    </div>
  </div>

  <div class="hero-image-wrapper">
    <img
      src={heroImage.src}
      alt="Brandemic Studio"
      class="hero-image"
    />
  </div>

  <div class="hero-bottom">
    <div class="container hero-bottom-content">
      <p>
        Reimagining Creativity for a World That Demands Excellence.
      </p>
      <a href="#" class="discover-btn">
        <span class="discover-circle"></span>
        <span class="discover-text">Discover Our Work</span>
        <img src={discoverArrow.src} alt="" />
      </a>
    </div>
  </div>

</section>

<script type="module">
  import "../scripts/hero.js";
</script>