---
import Logo from "../assets/logos/brandemic-logo.svg";
import MenuIcon from "../assets/icons/menu.svg";
---

<header class="navbar">
    <div class="nav-container">
        <a href="/" class="logo">
            <img src={Logo.src} alt="Brandemic">
        </a>
        <div class="nav-actions">
            <a href="#" class="contact-btn">
                Get in Touch
            </a>
            <button class="menu-btn">
                <img src={MenuIcon.src} alt="Menu">
            </button>
        </div>
    </div>
</header>